<!DOCTYPE html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77756807-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-77756807-1');
        </script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
              inlineMath: [['$','$']]
            }
          });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />
        {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
        {% if page.thumbnail %}<meta name="og:image" content="{{ page.thumbnail }}" />{% endif %}

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.baseurl }}">
        <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ '/css/font-awesome-4.2.0/css/font-awesome.min.css' | prepend: site.baseurl }}">

        <!-- Custom CSS -->
        <!-- link rel="stylesheet" href="/css/main.css" -->

	<link rel="stylesheet" href="{{ '/css/the.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/wp.css' | prepend: site.baseurl }}">

    </head>
  <body itemscope itemtype="http://schema.org/Product" >
    <div class="container">

	{{ content }}


      <div class="footer">
          <p text-align="center">&copy; HiGlass contributors 2018</p>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
